<div class="hero-list">
  <div class="hero-list__header">
    <h2>Heroes List</h2>
    <button mat-button (click)="actionButton(actions.Create)"> Add Hero </button>
  </div>
  <mat-table [dataSource]="dataSource">
    @for (column of columnsToDisplay; track column) { @switch (column) {
    @case('actions') {
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let hero">
        @for (button of listButtons; track button.name) {
        <button mat-icon-button [attr.ariaLabel]="button.action + ' heroe'" (click)="actionButton(button.action, hero)">
          <mat-icon>{{ button.name }}</mat-icon>
        </button>
        }
      </mat-cell>
    </ng-container>
    } @default {
    <ng-container [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef>
        {{ getColumnLabel(column) }}
      </mat-header-cell>
      <mat-cell *matCellDef="let hero">
        {{ hero[column] }}
      </mat-cell>
    </ng-container>
    } } }

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>

  @if(list().length) {
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
  }
</div>